button {
  border-radius: 0;
  border: none;
  margin-left: 10px;
  background-color: transparent;
  color: rgb(104, 104, 233);
  border-bottom: solid 1px rgb(104, 104, 233);
  text-shadow: 0px 0px 1px black;
  outline: none
}

button:hover {
  border-radius: 0;
  border: none;
  border-bottom: solid 1px rgb(55, 55, 228);
  background-color: transparent;
  color: rgb(55, 55, 228);
  text-shadow: 0px 0px 2px black;
  outline: none
}

.menuicon {
  border: none;
  padding: 0px;
  background-color: transparent;
  color: gold;
  width: 35px;
  height: 35px;
}

::ng-deep .mat-menu-item {
  padding: none;
  padding-top: 0px;
  padding-right: 5px;
  padding-bottom: 0px;
  padding-left: 5px;
  outline: none
}

::ng-deep .mat-focus-indicator {
  display: none;
  outline: none
}



::ng-deep .mat-menu-content {
  display: block;
  width: 90%;
  background-color: white;
  outline: none
}

::ng-deep .mat-menu-panel {
  width: 180px;
  background-color: white;
  outline: none
}
